:root {
  --font-base-size: 16px;
  --font-base-family: system-ui, helvetica, arial, sans-serif;
  --max-inline-size: 50rem;
  --spacing: 1rem;
  --color-correct: #bffbbf;
  --color-incorrect: #fdbcb5;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}